<p>------------------------------------------------------------------------</p>
<p>Tu cuenta como Proveedor ha sido validada satisfactoriamente.</p>
<p>------------------------------------------------------------------------</p>
<p>Your account as a Retailer has been successfully verificated.</p>
<p>------------------------------------------------------------------------</p>
<p>Votre compte en tant que détaillant a été la vérification avec succès.</p>
<p>------------------------------------------------------------------------</p>
<p>Sua conta Como um varejista tem sido sucesso de verificação.</p>
<p>------------------------------------------------------------------------</p>
<p>Ihr Konto als Händler wurde erfolgreich Überprüfung.</p>
<p>------------------------------------------------------------------------</p>
<p>A súa conta Como unha venda polo miúdo foi éxito de verificación.</p>
<p>------------------------------------------------------------------------</p>

