<p>------------------------------------------------------------------------</p>
<p>Bienvenido! Te has dado de alta satisfactoriamente. En un plazo de 24 horas laborales, activaremos su cuenta una vez validados los datos facilitados.</p>
<p>------------------------------------------------------------------------</p>
<p>Welcome! You have successfully signed up. Within 24 working hours, we will activate your account once the data provided is validated.</p>
<p>------------------------------------------------------------------------</p>
<p>Bienvenue! Vous avez signé avec succès. Dans les 24 heures de travail, nous activons votre compte une fois que les données fournies sont valider.</p>
<p>------------------------------------------------------------------------</p>
<p>Bem vinda! Você se inscreveu com êxito. Dentro de 24 horas de trabalho, vamos ativar a sua conta uma vez que os dados fornecidos são validar.</p>
<p>------------------------------------------------------------------------</p>
<p>Herzlich willkommen! Sie haben sich erfolgreich angemeldet. Innerhalb von 24 Arbeitsstunden , werden wir Ihr Konto aktivieren, wenn die zur Verfügung gestellten Daten zu validieren.</p>
<p>------------------------------------------------------------------------</p>
<p>Benvido! Se inscribiu con éxito. En 24 horas de traballo, imos activar a súa conta unha vez que os datos facilitados son validar.</p>
<p>------------------------------------------------------------------------</p>
